<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key ="k1" value ="vsafgdh1"/>
    <add key ="k2" value =" vasd2"/>
    <add key ="k3" value =" vasdad3"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
</configuration>